
config arguments
	option enabled '0'
	option dnsmasq '0'
	option addr ''


config config
	option cache 'false'
	option cache_size '102400'
	option cache_ignore 'false'
	option gfw 'false'
	list block_ip ''
	option block_ipv6 'false'
	list cache_control ''
	option log 'false'
	list udp_group '223.5.5.5 * on'
	list tcp_group ''
	option block_negative_resp 'false'
	list udp_local '127.0.0.1:5336'
	option domain_statistic 'false'

