
config arguments
	option enabled '0'
	option addr '127.0.0.1:5335'
	option dnsmasq '0'


config config
	option cache 'false'
	option gfw 'false'
	option block_ipv6 'true'
	option log 'false'
	list tcp_group '1.0.0.1 * no'
	option block_negative_resp 'false'
	list udp_local '127.0.0.1:5335'
	option domain_statistic 'false'

